body {
  background-image:url("app/static/images/bookshelf_image.png");
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-weight: 100;
  font-variant-ligatures: normal;
  font-size: 2rem;
  letter-spacing: 1px;
}

li {
  list-style: none;
}

.header {
  background-color: #12d0e9a1;
  color: #fff;
  height: 100px;
  opacity:0.8;
}

.header-logo {
  font-size: 50px;
  padding: 20px 40px;
  font-style: italic;
}

.main {
  text-align: center;
  padding: 100px 80px;
  color: #505353
}

input {
  float: center;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 20px;
  border: 1px solid #dee7ec;
}

.submit-button {
  float: center;
  background-color: #dee7ec;
  color: #889eab;
  transition:0.5s;
}

input[type="submit"] :hover {
  background-color: #2f5167;
}

.footer {
  background-color: #2f5167;
  color: white ;
  height: 160px;
  padding: 40px;
  opacity:0.8;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-logo {
  float: left;
  font-size: 50px;
  font-style: italic;
}

.footer-list {
  float: right;
  font-size: 15px;
}

.footer-list li {
  padding-bottom: 20px;
}
