<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <title>Book Price Predictor</title>
</head>
<body>
    <div class="header">
        <div class="header-logo">HAIT-Lab </div>
    </div>
    
    <div class="main">
        <h3>
            <img src="../static/image/car_book_idou_tosyokan.png" alt="画像のサンプル" width="5%" height="5%">
            本の画像をアップロードしてください
            <img src="../static/image/car_book_idou_honnya.png" alt="画像のサンプル" width="5%" height="5%">
        </h3>
        <form class="form" method = post enctype = multipart/form-data>
            <p><input class="file" type=file name = file><br>
            <input class="submit-button" type = submit value = 予測する>
        </form>
    </div>

    <div class="footer">  
        <div class="footer-logo">HAIT-Lab</div>
        <div class="footer-list">
            <ul>
                <li>@lelouch37</li>
                <li>@~~~~~</li>
                <li>@~~~~~</li>
            </ul>
        </div>
    </div>
</body>
</html>