<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <title>Book Price Predictor</title>
</head>
<body>
    <div class="header">
        <div class="header-logo">HAIT-Lab </div>
    </div>
    
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">  
        <div class="footer-logo">HAIT-Lab</div>
        <div class="footer-list">
            <ul>
                <li>@lelouch37</li>
                <li>@yut7G8</li>
                <li>@~~~~~</li>
            </ul>
        </div>
    </div>
</body>
</html>